<div ng-controller="blogCtrl as bc">
    <div class="row blogs">
        <h1>All My Personal Blogs</h1>
        <div ng-repeat="blog in blogs" class="col-md-5 col-md-offset-1">
            <img width="50%" ng-src="{{ blog.image}}">
           <div>
               <h2 ng-show="!editing">{{ blog.title }}</h2>
               <input type="text" ng-hide="!editing" ng-model="blog.title">
               <p ng-show="!editing"> {{ blog.summary}} </p><br/>
               <p> <textarea type="text" ng-hide="!editing" ng-model="blog.summary"></textarea>
                   <button class="btn btn-info" ng-click="editing=!editing; edit='save'">{{ edit }}</button>
                   <button class="btn btn-danger" ng-click="deleteBlog($index, blog)">delete</button>
               </p>

           </div>

        </div>
    </div>

</div>

